$BG: #efefef;
$H3GRAY: #898989;
$PGRAY: #9a9a9a;
$NOVA: #154677;
$NOVADARKLOGO: #193762;
$NOVADARK:#1F2D51;

$FONT_TEXT: 'Quicksand', sans-serif;
$FONT_H1: 'Staatliches', cursive;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: $BG;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    justify-items: center;
    font-family: $FONT_TEXT;
}
.login{
    background-color: white;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 40% 60%;
    .titles{
        align-self: flex-end;
        padding: 1em;
        h3{
            padding: 1em;
            color: $H3GRAY;
        }
        h1{
            color: $NOVA;
            font-size: 80px;
            font-family: $FONT_H1;
            img{
                width: 7%;
                margin-right: 0.5em;
            }
        }
    }
    .form{
        align-self: baseline;
        padding: 1em;
        form{
            display: grid;
            align-items: center;
            justify-items: center;
            input{
                border: 1px solid $NOVADARK;
                border-radius: 8px;
                height: 30px;
                width: 300px;
                margin: 5px;
                padding: 0px 5px 0px 5px;
            }
            input:focus{
                border: none;
            }
            input:last-child{
                border:none;
                background-color: $NOVADARK;
                color:white;
            }
        }
        p{
            padding: 1em;
            color: $PGRAY;
            font-family: $FONT_TEXT;
            font-size: 0.7em;
            a{
                text-decoration: none;
                color: $NOVA;
            }
        }  
    }
}
.container{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: url("../res/Web_Test_2.png");
    background-position: center;
    background-size: contain;
    //background-color: #154677;
    .info{
        display: grid;
        align-items: center;
        justify-items: center;

        img{
            width: 40%;
            padding: 1em;
        }
        p{
            width: 80%
        }
    }
}
