html, body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.container div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
img{
    display: block;
    width: 50vw;
    align-self: flex-end;
}
p {
    background-color: aqua;    
    width: 80%;
    margin: 10px auto; 
    border-radius: 16px;
}
p a{
    display: block;    
    color: aliceblue;
    background-color: #193762;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    padding: 2em;
    font-size: 35px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}
p a:hover{
    color: #193762;
    background-color: aliceblue;
}