$NOVA_BG: #003366;
$NOVA_F: #004996;
$GRAY_BG: #F3F3F3;

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    body{
        width: 100vw;
        height: 100vh;
        background-color: white;

        header{
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            height: 30vh;
            border-radius: 0 0 50px 50px;
            background: $NOVA_BG;

            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-rows: 60% auto;
            
            img{
                height: 80%;
                border-radius: 50%;
                border: 0.5em solid white;
                align-self: flex-end;
            }
            div{
                text-align: center;
                width: 100%;
                color: white;
                display: grid;
                grid-template-rows: auto auto 80%;
                align-items: center;
                h3{
                    padding-bottom: 0.35em;
                    font-size: 1.5em;
                    font-weight: normal;
                }
                p{
                    font-size: 1.5em;
                    font-weight: lighter;
                }
                a{
                    span.material-icons{
                        height: 100%;
                        display: grid;
                        align-items: center;
                        color: red;
                        font-size: 2em;
                    }
                }
            }
        }
        div.container{
            position: fixed;
            top: 30vh;
            left: 5%;
            //overflow-y: scroll;

            height: 60vh;
            width: 90%;
            ul{
                li{
                    display: grid;
                    grid-template-columns: max-content auto;
                    align-items: center;
                    font-size: 2em;
                    color:$NOVA_F;
                    font-weight: bold;
                    padding: 1em 0;
                    span.material-icons{
                        font-size: 3em;
                        padding-right:0.25em;
                    }
                }
            }
            div{
                width: 100%;
                background-color: $NOVA_BG;
                display: grid;
                align-items: center;
                justify-items: center;
                border-radius: 16px;
                div#btn-update{
                    width: max-content;
                    font-size: 2em;
                    font-weight: bold;
                    padding: 1em;
                    color: white;
                    display: grid;
                    align-items: center;
                    grid-template-columns: max-content auto;
                    span.material-icons{
                        font-size: 1.25em;
                        padding-right: 0.25em;
                    }
                }
            }
            
        }
        footer{
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: $NOVA_BG;
            border-radius: 50px 50px 0 0;
            width: 100%;
            height: 10vh;
            ul{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                height: 100%;
                li{
                    &.active{
                        background-color: $NOVA_F;
                        border-radius: 0 50px 0 0 ;
                    }
                    a{
                        display: grid;
                        justify-items: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        color: white;

                        img{
                            display: block;
                            height: 4em;
                            border-radius: 50%;
                            border: 4px solid white;
                        }
    
                        span.material-icons{
                            display: block;
                            font-size: 4em;
                        }
                    }

                }
            }
        }
    }

}

