$NOVA_BG: #003366;
$NOVA_F: #004996;
$GRAY_BG: #F3F3F3;

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    body{
        width: 100vw;
        height: 100vh;
        background-color: $GRAY_BG;

        header{
            position: fixed;
            top:0;
            left:0;
            width: 100%;
            height: 10vh;
            border-radius: 0 0 50px 50px;
            background: $NOVA_BG;

            display: grid;
            align-items: center;
            justify-items: center;
            
            img{
                padding: 1em 10em;
                width: 40em;
                background-color: white;
                border-radius: 8px;
            }
        }
        div.container{
            position: fixed;
            top: 10vh;
            left: 0;
            width: 100%;
            height: 80vh;
            overflow-y: scroll;
            ul{
                >h3{
                    font-weight: bold;
                    font-size: 1.25em;
                    width: 80%;
                    margin: 0 auto;
                    color: $NOVA_BG;
                    padding: 1em;
                }
                padding: 1em;
                li{
                    background-color: white;
                    width: 80%;
                    margin: 0 auto 1em auto;
                    border-radius: 16px;
                    padding: 1em;

                    div.intervention-item{
                        display: grid;
                        div.upper-row{
                            display: grid;
                            grid-template-columns: 80% 20%;
                            align-items: center;
                            padding: 0.5em;
                            h3{
                                display: grid;
                                grid-template-columns: max-content auto;
                                align-items: flex-end;
                                color: $NOVA_BG;

                                span.material-icons{
                                    padding-right: 0.25em;
                                    align-self: center;
                                }
                            }
                            p{
                                height: 100%;
                                display: grid;
                                align-items: center;
                                text-align: end;
                                color: $NOVA_F;
                                font-weight: lighter;
                            }
    
                        }
                        div.lower-row{
                            display: grid;
                            grid-template-columns: 80% 20%;
                            align-items: center;
                            padding: 0.5em;
                            p{
                                height: 100%;
                                display: grid;
                                align-items: center;

                                text-align: start;
                                color: $NOVA_F;
                                font-weight: lighter;
                            }
                            h3{
                                height: 100%;
                                text-align: end;
                                display: grid;
                                grid-template-columns: auto max-content;
                                align-items: center;

                                padding-left: 1em;

                                color: $NOVA_BG;
                                
                                span.material-icons{
                                    font-size: 0.75em;
                                    padding-right: 0.25em;
                                }
                                span.high{
                                    color: crimson;
                                }
                                span.medium{
                                    color: #FFC700;
                                }
                                span.low{
                                    color: springgreen;
                                }
                            }
                        }
                    }
                    div.intervention-item-open{
                        display: grid;
                        width: 100%;

                        div.upper-row{
                            display: grid;
                            grid-template-columns: 80% 20%;
                            align-items: center;
                            padding: 0.5em;
                            h3{
                                display: grid;
                                grid-template-columns: max-content auto;
                                align-items: flex-end;
                                color: $NOVA_BG;

                                span.material-icons{
                                    padding-right: 0.25em;
                                    align-self: center;
                                }
                            }
                            p{
                                height: 100%;
                                display: grid;
                                align-items: center;
                                text-align: end;
                                color: $NOVA_F;
                                font-weight: lighter;
                            }
    
                        }
                        div.lower-row{
                            display: grid;
                            grid-template-columns: 80% 20%;
                            align-items: center;
                            padding: 0.5em;
                            p{
                                height: 100%;
                                display: grid;
                                align-items: center;

                                text-align: start;
                                color: $NOVA_F;
                                font-weight: lighter;
                            }
                            h3{
                                height: 100%;
                                text-align: end;
                                display: grid;
                                grid-template-columns: auto max-content;
                                align-items: center;

                                padding-left: 1em;

                                color: $NOVA_BG;
                                
                                span.material-icons{
                                    font-size: 0.75em;
                                    padding-right: 0.25em;
                                }
                                span.high{
                                    color: crimson;
                                }
                                span.medium{
                                    color: #FFC700;
                                }
                                span.low{
                                    color: springgreen;
                                }
                            }
                        }
                        
                        hr{
                            margin-bottom: 0.5em;
                            border: 1px solid $NOVA_BG;
                        }

                        div.grid-2{
                            width: 100%;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            
                        }
                        div.grid-3{
                            padding: 1.25em 0;
                        }
                        div.info{
                            padding: 0.25em;
                            width: 100%;
                            display: grid;
                            grid-template-columns: max-content auto;
                            align-items: center;

                            h5{
                                padding: 0.25em 0;
                                font-size: large;
                                font-weight: bold;
                                color: $NOVA_BG;
                            }
                            p.txt-ico{
                                display: grid;
                                grid-template-columns: max-content auto;
                                align-items: center;
                                span.material-icons{
                                    padding-right: 0.25em;
                                    font-size: 1em;
                                }
                            }
                            p{
                                padding-left: 1em;

                                font-weight: lighter;
                                color: $NOVA_F;
                            }
                        }
                        div.des{
                            align-items: baseline;
                        }

                        div.btn-bg{
                            width: 40%;
                            background-color: $NOVA_BG;
                            display: grid;
                            align-items: center;
                            justify-items: center;
                            border-radius: 8px;
                            &.end{
                                background-color: crimson;
                            }
                            &.start{
                                background-color: $NOVA_F;
                            }
                            div.btn{
                                width: max-content;
                                font-weight: bold;
                                padding: 1em;
                                color: white;
                                display: grid;
                                align-items: center;
                                grid-template-columns: max-content auto;
                                span.material-icons{
                                    font-size: 1.25em;
                                    padding-right: 0.25em;
                                }

                            }
                        }


                        h3.priority{
                            text-align: end;
                            display: grid;
                            grid-template-columns: auto max-content;
                            align-items: center;

                            padding-left: 1em;

                            color: $NOVA_BG;
                            
                            span.material-icons{
                                font-size: 0.75em;
                                padding-right: 0.25em;
                            }
                            span.high{
                                color: crimson;
                            }
                            span.medium{
                                color: #FFC700;
                            }
                            span.low{
                                color: springgreen;
                            }
                        }
                    }
                }
            }
            
        }
        footer{
            position: fixed;
            bottom: 0;
            left:0;
            background-color: $NOVA_BG;
            border-radius: 50px 50px 0 0;
            width: 100%;
            height: 10vh;
            ul{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                height: 100%;
                li{
                    &.active{
                        background-color: $NOVA_F;
                    }
                    a{
                        display: grid;
                        justify-items: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        color: white;

                        img{
                            display: block;
                            height: 4em;
                            border-radius: 50%;
                            border: 4px solid white;
                        }
    
                        span.material-icons{
                            display: block;
                            font-size: 4em;
                        }
                    }

                }
            }
        }
    }

}

.hidden{
    opacity: 0;
}
.hidden-pro{
    display: none;
}