.chiamata{
    box-sizing: border-box;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    align-items: center;
    background-color: #dedede;
    
    width:80%;
    padding: 0.25em;
    margin: 0 auto;
    margin-top: 0.15em;
    span{
        text-align: center;
    }
    div{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;

        h3{    
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
            justify-self: start;
            align-self: flex-end;
        }
        h6{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
            justify-self: start;
            color: #555;
        }

        p{
            padding: 0.5em;
            justify-self: end;
        }
        ul{
            justify-self: end;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            li{
                padding: 0.25em;
                span{
                    font-size: 0.9em;    
                    color: #555;    
                }
            }
        }
    }
}